QComboBox {
    background-color: #202124;
    color: #FFFFFF;
}

QPushButton#startButton,
QPushButton#stopButton,
QPushButton#addRange,
QPushButton#showRange {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
}

QPushButton#startButton {
    background-color: #4CAF50;
}

QPushButton#startButton:hover {
    background-color: #3A863D;
}

QPushButton#stopButton {
    background-color: #FF5722;
}

QPushButton#stopButton:hover {
    background-color: #993414;
}

QPushButton#addRange,
QPushButton#showRange {
    background-color: #8AB4F7;
    color: #000000;
}

QPushButton#addRange:hover,
QPushButton#showRange:hover {
    background-color: #769AD3;
}

QRadioButton,
QCheckBox {
    color: #FFFFFF;
    font-size: 16px;
    padding: 8px;
    margin: 4px;
}

QRadioButton::checked,
QCheckBox::checked {
    color: #FFFFFF;
    background-color: #1B1C1E;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px;
    margin: 4px;
}

QRadioButton::indicator,
QCheckBox::indicator {
    width: 16px;
    height: 16px;
}

QRadioButton::indicator:checked,
QCheckBox::indicator:checked {
    background-color: #000000;
    border-radius: 8px;
}

QRadioButton::indicator:unchecked,
QCheckBox::indicator:unchecked {
    background-color: #202124;
    border-radius: 8px;
}

QProgressBar {
    color: #FFFFFF;
    background: #202124;
    border: 1px solid #323338;
}

QProgressBar::chunk {
    color: #000000;
    background-color: #8AB4F7;
}

QLabel#madeby,
QLabel#version,
QLabel#copyright,
QLabel#versionpy {
    font-weight: bold;
    font-size: 16px;
}

QLabel#dot1,
QLabel#dot2,
QLabel#dot3 {
    color: #8AB4F7;
}

QLabel#count_addlabel {
    color: #8AB4F7;
    font-size: 14px;
}

QLabel#titlelabel {
    color: #777777;
    font-size: 22px;
}

QGroupBox#knightrider {
    border: 2px solid #FF0000;
    background-color: #202124;
    border-radius: 5px;
}