QCheckBox::hover {
    border-width: 0px;    
}

QRadioButton {
    max-width: 50px;
}

QRadioButton::hover {
    border-width: 0px;
}

QLabel#powerLabel {
    font-size: 12px;
    padding: 0px 0px 0px 10px;
}



QComboBox::down-arrow {
    width: 0;
}

QTabWidget { 
    border: 2px solid #E7481F; 
    padding: 3px; 
    background-color: #CCCCCC;
 }
