/* Gray Theme */
GUIInstance.gray {
    background-color: #808080;
}

QComboBox.gray {
    background-color: #808080;
    color: #FFFFFF;
}

QPushButton#startButton.gray,
QPushButton#stopButton.gray,
QPushButton#addRange.gray,
QPushButton#showRange.gray {
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 10px;
}

QPushButton#startButton.gray {
    background-color: #808080;
}

QPushButton#startButton.gray:hover {
    background-color: #A13316;
}

QPushButton#stopButton.gray {
    background-color: #5D6062;
}

QPushButton#stopButton.gray:hover {
    background-color: #1E1E1E;
}

QPushButton#addRange.gray,
QPushButton#showRange.gray {
    background-color: #808080;
}

QPushButton#addRange.gray:hover,
QPushButton#showRange.gray:hover {
    background-color: #1662C6;
}

QRadioButton.gray,
QCheckBox.gray {
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px;
    margin: 4px;
}

QRadioButton.gray::checked,
QCheckBox.gray::checked {
    color: #FFFFFF;
    background-color: #808080;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px;
    margin: 4px;
}

QRadioButton.gray::indicator,
QCheckBox.gray::indicator {
    width: 16px;
    height: 16px;
}

QRadioButton.gray::indicator:checked,
QCheckBox.gray::indicator:checked {
    background-color: #808080;
    border-radius: 8px;
}

QRadioButton.gray::indicator:unchecked,
QCheckBox.gray::indicator:unchecked {
    background-color: #808080;
    border-radius: 8px;
}

QProgressBar.gray {
    color: #000000;
    background: #808080;
    border: 1px solid #7D7D7D;
}

QProgressBar.gray::chunk {
    color: #000000;
    background-color: #808080;
}

QLabel#madeby.gray,
QLabel#version.gray,
QLabel#copyright.gray,
QLabel#versionpy.gray,
QLabel#dot1.gray,
QLabel#dot2.gray,
QLabel#dot3.gray,
QLabel#titlelabel.gray {
    font-weight: bold;
    font-size: 16px;
}

QLabel#dot1.gray,
QLabel#dot2.gray,
QLabel#dot3.gray {
    color: #808080;
}

QLabel#count_addlabel.gray {
    color: #808080;
    font-size: 14px;
}

QLabel#titlelabel.gray {
    color: #808080;
    font-size: 22px;
}
